/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (White): #FFFFFF;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #ffffff;
}

header {
  background-color: #000000;
  position: relative;
  padding: 10px 0 4px;
  box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.52);
}

.logo {
  max-width: 250px;
}

.profile {
  max-width: 400px;
}

.social {
  max-width: 35px;
}

.footer {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  text-align: center;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
  text-align: center;
}

img {
  width: 100%;
}

.logo {
  max-width: 150px;
}

a {
  color: #000000;
  text-decoration: none;
  /* No underlining */
}


nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  text-align: center;
}


nav> ul > li > a{
  /* navigation */
  padding: 0 15px;
  width: 100%
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff
}

nav> ul > li > a:visited {
  /* visited link */
  padding: 0 15px;
  display: inline-block;
  width: 100%
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #cc6540;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ffffff;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  /* needed to override the default link color */
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  background-color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  margin: 25px 0;
  padding-bottom: 10px;
  text-align: left;
  border-bottom: 2px solid #ffffff;

}

#hero span {
  display: block;
  background-color: #000000;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}


ul.social-media-list > a {
    padding: 5px;
    border-radius: 5px;
    width: 36px;
    height: 36px;
}

ul.social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

ul.social-media-list li {
    display: inline-block;
}
ul.social-media-list li {
    display: inline-block;
    margin: 2px;
}

      nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 1em 0;
  }
}

[class*="col-"] {
  float: left;
}



/* Elements to animate */

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


/* Keyframes */

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .logo {
    max-width: 250px;
  }



/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .row-lg {
    clear: both;
    display: table;
    position: relative;
    left: 15%;
    right: 85%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
