/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (White): #FFFFFF;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Inria Serif', serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #ffffff;
}

header {
  background-color: #4a4a4a;
  text-align: center;
  padding: 99px 0px 0px 0px;
  box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.52);
  position: relative;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.logo {
  max-width: 250px;
}

.profile {
  max-width: 400px;
}

.social {
  max-width: 35px;
}

.footer {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  text-align: center;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
  text-align: center;
}

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
  /* No underlining */
}
nav> ul > li > a:{
  /* navigation */
  padding: 0 15px;
  display: inline-block;
  width: 100%
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #ffffff
}

nav> ul > li > a:visited {
  /* visited link */
  padding: 0 15px;
  display: inline-block;
  width: 100%
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #ffffff
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ffffff;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  background-color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  margin: 25px 0;
  padding-bottom: 10px;
  text-align: left;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}

#hero {
  background-color: #4a4a4a;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
